@font-face {
  font-family: 'GoogleSansFlex';
  src: url('./assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'TikTokSans';
  src: url('./assets/fonts/TikTok_Sans/TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'TikTokSans', 'GoogleSansFlex', sans-serif;
	background-color: rgb(32, 32, 32);
	color: #D9D9D9;
	letter-spacing: 0.5px;
}

/* NAVBAR */
.navbar {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	height: 3.5rem;
	width: 100%;
	background-color: rgb(32, 32, 32);
	border-bottom: 1px solid rgb(70, 70, 70);
}

.navbar, .navbar h4, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

ul li{
	display: inline-block;
	margin: 1rem;
}

.navbar .logo, .navbar .menu {
	text-decoration: none;
	color: #D9D9D9;
	transition-duration: 0.3s;
}

.navbar .logo:hover {
	color: #00D46F;
}

.navbar .menu:hover {
	color: #919191;
}
/* NAVBAR */

/* LANDING */
#about {
	display: flex;
	padding: 7rem 5rem 5rem;
}
/* LANDING */

#navigation {
	background-color: rgb(0, 185, 99) !important;
}

/* #logo {
	height: 49px;
	width: 49px;
} */

#links a {
	color: rgb(48, 48, 48) !important;
}

#mugshot {
	height: 300px;
	width: 300px;
}

#projects {
	background-color: rgb(0, 185, 99);
}

#myprojects {
	border-radius: 20px;
}

#mytools {
	height: 80px;
	width: 80px;
}

#contact {
	background-color: rgb(0, 185, 99);
}

#contactlogo {
	height: 40px;
	width: 40px;
}