@font-face {
  font-family: 'GoogleSansFlex';
  src: url('./assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'TikTokSans';
  src: url('./assets/fonts/TikTok_Sans/TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf') format('truetype');
}

body {
	font-family: 'TikTokSans', 'GoogleSansFlex', 'Montserrat', sans-serif;
	background-color: rgb(32, 32, 32);
}

#navigation {
	background-color: rgb(0, 185, 99) !important;
}

#logo {
	height: 49px;
	width: 49px;
}

#links a {
	color: rgb(48, 48, 48) !important;
}

#mugshot {
	height: 300px;
	width: 300px;
}

#projects {
	background-color: rgb(0, 185, 99);
}

#myprojects {
	border-radius: 20px;
}

#mytools {
	height: 80px;
	width: 80px;
}

#contact {
	background-color: rgb(0, 185, 99);
}

#contactlogo {
	height: 40px;
	width: 40px;
}